<html lang="en"> 
<head>     
    {% load static %} 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 

    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <meta charset="UTF-8"> 
    <title>Product Review</title> 
    <!-- <style>
        /* body{background-color:midnightblue;
               
        } */
        body{
            background-image: url('https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); 

        }
        .container-about{color:floralwhite;
                     text-align:center; 
                     margin-bottom:40%;
                     margin-top:20%; }
         
        h1{font: weight 600px;}

    </style>     -->
</head> 
<body> 

    {% include 'navbar.html' %}

    


<div class="container-about">

    <h1>Welcome to Best Cars dealership!</h1><br> 
    <h3>Home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</h3> 

</div>


 <!-- <div class="card-body">
     <h5 class="card-title">Our History:</h5> 
    <p class="card-text"style="text-align:center;">Our company is based on the belief that our customers' needs are of the utmost importance.<br>
        Our entire team is committed to meeting those needs.As a result, a high percentage of our business is from repeat customers and referrals.<br>We would welcome the opportunity to earn your trust and deliver you the best service in the industry.</p>
    </p>
  </div> -->



 
</body> 
</html>

