<html lang="en"> 
<head>     
    {% load static %} 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <meta charset="UTF-8"> 
    <title>Product Review</title> 
</head> 
<body> 

    <h1>Contact Us</h1>

    <address>
    Contact Person: <a href="mailto:webmaster@example.com">Rev Doe</a>.<br> 
    Visit us at: RevBestCars<br>
    Box 564, Los Angeles<br>
    USA
    Email: Example.com
    Phone: +2314650789
    </address>
</body> 
</html> 


















